*{
	padding: 0;
	margin: 0;
}

@font-face { 
	font-family:OpenSans-BoldItalic; 
	src: url(../font/OpenSans-BoldItalic.ttf); 
	font-weight: normal;
	font-style: normal;


}
body{
	font-family: "OpenSans-BoldItalic", Helvetica, Verdana; 
	text-align: justify;
	background: #FFFFFF;
	color: black;
	font-size: 20px; 
}

h1{
	background: orange;
	color: #ffffff; 
	margin: 0,25em auto ;
	text-align: center; 
	text-shadow: 2em;  
}
header{
	background:#dbdbdb;
	color: #151515;
	border-radius: 0,5em;
	margin:0,5em auto;
	max-width: 0px;
	padding top: 70px;
	text-align: left; 
}
nav{
	background: white;
	color:black;
	margin:0,50em auto;
	text-align: left;
}
footer{
	background: orange;
	color:#ffffff;
	margin:0,25em auto;
	border-radius: 0,5em;
	text-align: left;
}

section 