*{
	padding: 0;
	margin: 0;
}

@font-face { 
	font-family:OpenSans-BoldItalic; 
	src: url(../font/OpenSans-BoldItalic.ttf); 
	font-weight: normal;
	font-style: normal;


}
body{

	font-family: "OpenSans-BoldItalic", Helvetica, Verdana; 
	text-align: justify;
	background: #FFFFFF;
	background:url(../img/baner.jpg) fixed center center ;
	background-size: cover;
	color: black;
	font-size: 20px; 
	flex-wrap: wrap;

}


h1{
	
	background: orange;
	color: #ffffff; 
	margin: 0em auto ;
	text-align: center; 
	text-shadow: 2em;  
}

h2{
	background: orange;
	color: #ffffff; 
	margin: 0em auto ;
	text-align: left; 
	font-size: :3px;

}
header{
	
	background:#dbdbdb;
	color: #151515;
	border-radius: 0,5em;
	margin:auto;
	max-width: 0px;
	padding top: 75px;
	text-align: left; 

}
div{
	position: relative;
	display: flex;
	padding-bottom: 0px;
 	background: white;
	color:black
	margin:0,50em auto;
	text-align: left;
	left:100px;
}
nav li a {

	top:1em;
	background-size: 100% :white;
	color:#0B0B61;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
	margin: auto;
	text-align: left;
	float: left;
	font-size: 20px;
}

nav li a: hover{ 
background-color: #000;

 }
.acti li ul{
	padding: 30px;
	display:none;
	position: absolute;
	min-width: 100px;
	flex-wrap: wrap;

}
.acti li:hover > ul{
	display: block;
}

footer{

	display: inline-block;
	background: orange;
	position: fixed;
	bottom: 0;
	width: 100%;
	height:auto;
	color:#ffffff;
	margin:0;
	border-radius: 0,5em;
	text-align: left;
	font-size: 15px ;
	padding: 10px;
	align-self: flex-end;


}

footer li {
	
	list-style-position: center;
	display:inline-flex;
	color:black;
	height: 50PX;
   text-align: center;

}
